body {
    background: linear-gradient(
            rgba(50, 205, 50, 0),
            transparent
    ),
    linear-gradient(
            90deg,
            rgba(135, 206, 235, 0.5),
            transparent
    ),
    linear-gradient(
            -90deg,
            rgba(255, 127, 80, 0.5),
            transparent
    );

    background-blend-mode: screen;
}


#container-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, green 50%, orange 50%); /* 设置背景色为左半边绿色，右半边橙色 */
}

#header {
    height: 80px;
    font-family: SimSun;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.left-image {
    height: 100px;
    width: 100px;
}

.right-image {
    height: 100px;
    width: 100px;
}


/*-------------------王爷头-------------------------------*/
#container-head {
    width: 100%;
    height: 150px;
    text-align: center;
}

#container-background {
    padding-top: 0px;
    display: flex;
}

/*-------------------背景部分-------------------------------*/
#background-text {
    width: 60%;
    height: 490px;
    text-align: left;
    font-size: 16px;
}

.background-h4 {
    margin-left: 10px;
}

#background-p {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 30px;
    font-family: SimSun;
}

#background-other {
    width: 39%;
    margin-top: 40px;
    margin-left: 10px;
    height: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background-h4 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

#background-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid brown; /* 添加外部框线 */
}

#background-table th, #background-table td {
    border: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: SimSun;
}

#background-table th {
    color: black;
}

#background-table tr {
    border-bottom: 2px solid brown; /* 添加横边框线 */
}

#background-table tr:last-child {
    border-bottom: 0; /* 移除最后一行的横边框线 */
}

#background-table tr:hover {
    background-color: #ddd;
}


/*-------------------------weibo-data----------------------------*/
#data-source{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
}
#data-img{
    height: 250px;
    width: 450px;
}
#data-weibo{
    height: 250px;
    width: 900px;
}
#data-img, #data-weibo {
    display: inline-block;
    vertical-align: top;
}
#data-weibo-text{
    line-height: 30px;
    font-family: SimSun;
}
/*-------------------------复用组件----------------------------*/
.fuyong {
    width: 100%;
    height: 100px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 10px;
}

.fuyong-text {
    margin-top: 15px;
    line-height: 30px;
    font-family: SimSun;
}

/*--------------------主题河流css--------------------------*/
#theme-river {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    text-align: center;
    display: flex;
}

#theme-river-img {
    width: 70%;
    height: 380px;
    margin-top: 10px;
    margin-left: 10px;
}

#theme-river-text {
    width: 45%;
    height: 400px;
    margin-top: 10px;
    margin-left: 10px;
    border: 5px solid #e2d1d1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*--------------------词云css--------------------------*/
#word-cloud {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#word-cloud-img {
    width: 100%;
    height: 380px;
    margin-top: 10px;
    margin-left: 10px;
}

#word-cloud-text {
    width: 98%;
    height: 140px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*--------------------时间序列css--------------------------*/
#time-series {
    width: 100%;
    height: 700px;
    margin-top: 10px;
    text-align: center;
    display: flex;
}

#time-series-text {
    width: 30%;
    height: 680px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to top, #4caf50, #4caf50 10px, transparent 10px),
    linear-gradient(to right, #c1ef8c, #c1ef8c 10px, transparent 10px),
    linear-gradient(to bottom, #8bc34a, #8bc34a 10px, transparent 10px),
    linear-gradient(to left, #009688, #009688 10px, transparent 10px);
    background-origin: border-box;
}

#time-series-img {
    width: 66%;
    height: 680px;
    margin-top: 10px;
    margin-left: 10px;
}

/*--------------------观点倾向css--------------------------*/
#standpoint {
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}

#standpoint-text-1 {
    width: 30%;
    height: 470px;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 1.2;
    background: linear-gradient(to top, #4caf50, #4caf50 5px, transparent 5px),
    linear-gradient(to right, #c1ef8c, #c1ef8c 5px, transparent 5px),
    linear-gradient(to bottom, #8bc34a, #8bc34a 5px, transparent 5px),
    linear-gradient(to left, #009688, #009688 5px, transparent 5px);
    background-origin: border-box;
}

#standpoint-text-1 h2 {
    text-align: center;
}

#standpoint-area {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
    width: 200px;
    margin-top: 10px;
}

#standpoint-area option {
    padding: 5px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

#standpoint-img {
    width: 35%;
    height: 470px;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
}

#standpoint-text-2 {
    width: 25%;
    height: 470px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.2;
    background: linear-gradient(to top, #4caf50, #4caf50 5px, transparent 5px),
    linear-gradient(to right, #c1ef8c, #c1ef8c 5px, transparent 5px),
    linear-gradient(to bottom, #8bc34a, #8bc34a 5px, transparent 5px),
    linear-gradient(to left, #009688, #009688 5px, transparent 5px);
    background-origin: border-box;
}

#standpoint-text-1, #standpoint-img, #standpoint-text-2 {
    display: inline-block;
    vertical-align: top;
}

#standpoint-text-3 {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background: linear-gradient(to top, #4caf50, #4caf50 5px, transparent 5px),
    linear-gradient(to right, #c1ef8c, #c1ef8c 5px, transparent 5px),
    linear-gradient(to bottom, #8bc34a, #8bc34a 5px, transparent 5px),
    linear-gradient(to left, #009688, #009688 5px, transparent 5px);
    background-origin: border-box;
}

/*--------------------地理ipcss--------------------------*/
#location-graph-ip {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    text-align: center;
}

#location-graph-ip-img {
    width: 65%;
    height: 700px;
    margin-top: 10px;

    margin-left: 5px;
}

.location-legend {
    list-style: none;
    padding: 0;
}

.location-legend li {
    display: inline-block;
    margin-right: 10px;
}

.location-legend span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.location-tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
}

#location-graph-ip-text-1 {
    width: 30%;
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 10px;
}

#location-graph-ip-img, #location-graph-ip-text-1 {
    display: inline-block;
    vertical-align: top;
}

#location-graph-ip-text-2 {
    width: 98%;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 10px;
}

/*--------------------人名等共线css--------------------------*/

#tooltip {
    border-radius: 5px; /* 设置圆角 */
    background-color: white; /* 设置背景颜色为白色 */
    padding: 10px; /* 设置内边距 */
    border: 1px solid black; /* 设置边框 */
}


#name-area {
    width: 100%;
    height: 2010px;
    margin-top: 10px;
    text-align: center;
}

#person-name-img {
    width: 98%;
    height: 1000px;
    margin-top: 10px;
    margin-left: 10px;

}

#country-name-text {
    width: 95%;
    height: 155px;
    margin: auto;
    margin-top: 10px;
}

#country-name-img {
    width: 98%;
    height: 550px;
    margin-top: 10px;
    margin-left: 10px;
}


#person-name-text {
    width: 95%;
    height: 155px;
    margin: auto;
    margin-top: 10px;
}

/*-------------------------------------------------------------*/
#card {
    position: absolute;
    right: 5px;
    border: 2px solid #000; /* 添加外框线 */
    border-radius: 10px; /* 设置圆角 */
    padding: 10px; /* 添加内边距 */
    background-color: #f9f9f9; /* 设置背景颜色 */
}

#card table {
    width: 100%; /* 设置表格宽度 */
    border-collapse: collapse; /* 合并边框 */
}

#card table th,
#card table td {
    border: 1px solid #000; /* 添加边框 */
    padding: 5px; /* 添加内边距 */
    text-align: left; /* 设置文本对齐方式 */
}

#card table th {
    background-color: #333; /* 设置表头背景颜色 */
    color: #fff; /* 设置表头文本颜色 */
}

/* Card样式 */
#card {
    position: absolute;
    right: 50px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 添加阴影 */
    transition: 0.3s; /* 添加过渡效果 */
    text-align: center;
    border-radius: 5px; /* 添加圆角 */
}

#card img {
    border: 1px solid #ddd; /* 图片加外框 */
    border-radius: 4px; /* 图片圆角 */
    padding: 5px; /* 图片内边距 */
    width: 100%;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* 鼠标悬停时添加阴影 */
}

/* Table样式 */
#card table {
    font-family: Arial, sans-serif; /* 设置字体 */
    border-collapse: collapse; /* 表格内外框线设置 */
    width: 100%; /* 设置宽度 */
}

#card td, #card th {
    border: 1px solid #ddd; /* 表格内外框线设置 */
}

#card tr:nth-child(even) {
    background-color: #f2f2f2;
}

#card tr:hover {
    background-color: #ddd;
    text-align: center;
}

#card td {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40px;
    color: black;
    text-align: center;
    font-size: 20px; /* 字体大一些 */
    font-weight: bold; /* 表头加粗 */
    vertical-align: center;
}


/*---------------------------------------------*/
#clear-card {
    color: white;
    width: 300px;
    height: 50px;
    position: absolute;
    text-align: center;
    left: 40%;
    background-color: #1795bb;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#clear-card:hover {
    background-color: red;
}

/*-----------------------------------------------------*/
#before-foot {
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 0px;
    background: linear-gradient(to right, #9f0000 93.2%, green 6.8%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.bf-text {
    padding-top: 20px;
    font-size: 40px;
    font-family: SimSun;
    font-weight: bold;
}

/*--------------------网页尾css--------------------------*/
#container-foot {
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 0px;
}

footer {
    text-align: center;
    height: 100px;
    padding-top: 10px;
    background-color: #abbaba;
    color: #000;
}

/*--------------调节格式-yhq-----------------*/
.all-cn {
    font-family: "微软雅黑"; /*设置字体*/
    width: 100%;
    height: 20px;
    font-size: 80px; /*设置文字大小*/
    color: orange; /*设置文字颜色*/
    text-align: center; /*设置文字居中*/
}

#ewu-cn-1 {
    height: 60px; /*设置元素高度*/
    position: absolute; /*绝对定位*/
    overflow: hidden; /*隐藏溢出部分内容*/
    color: green; /*设置文字颜色*/
}

#ewu-cn-2 {
    font-family: "微软雅黑"; /*设置字体*/
    font-size: 50px; /*设置文字大小*/
    color: black; /*设置文字颜色*/
}

#eluosi-cn {
    font-size: 80px; /*设置文字大小*/
    color: green; /*设置文字颜色*/
}

#wukelan-cn {
    font-size: 80px; /*设置文字大小*/
    color: orange; /*设置文字颜色*/
}

#wenhao {
    font-size: 80px; /*设置文字大小*/
    color: red; /*设置文字颜色*/
}

#cn-fenxi {
    margin-top: 15px;
    line-height: 30px;
    font-size: 17px;
    font-family: SimSun;
    text-align: left;
}

#pn-fenxi-1 {
    margin-top: 15px;
    line-height: 30px;
    font-size: 17px;
    font-family: SimSun;
    text-align: left;
}

#pn-fenxi-2 {
    margin-top: 5px;
    line-height: 10px;
    font-size: 17px;
    font-family: SimSun;
    text-align: left;
}

#pn-fenxi-3 {
    margin-top: 5px;
    line-height: 10px;
    font-size: 17px;
    font-family: SimSun;
    text-align: left;
}

#pn-fenxi-4 {
    margin-top: 5px;
    line-height: 10px;
    font-size: 17px;
    font-family: SimSun;
    text-align: left;
}

/*--------------调节格式-lkl-----------------*/
#news-text {
    margin-top: 5px;
    line-height: 25px;
    font-size: 15px;
    font-family: SimSun;
    text-align: left;
}

.update-wci {
    background-color: navajowhite;
    max-width: 250px;
    height: 10px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.update-wci:focus {
    color: black;
    background-color: navajowhite;
    outline-color: rgb(200, 155, 155);
    box-shadow: -3px -3px 15px rgb(200, 155, 155);
    transition: .1s;
    transition-property: box-shadow;
}

.update-wcb {
    background-color: #1795bb;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.update-wcb:hover {
    background-color: #fff;
    color: #1795bb;
    border: 1px solid #ccc;
}

#endDatePicker {
    background-color: navajowhite;
    max-width: 250px;
    height: 20px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

#endDatePicker:focus {
    color: black;
    background-color: navajowhite;
    outline-color: rgb(200, 155, 155);
    box-shadow: -3px -3px 15px rgb(200, 155, 155);
    transition: .1s;
    transition-property: box-shadow;
}

#startDatePicker {
    background-color: navajowhite;
    max-width: 250px;
    height: 20px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

#startDatePicker:focus {
    color: black;
    background-color: navajowhite;
    outline-color: rgb(200, 155, 155);
    box-shadow: -3px -3px 15px rgb(200, 155, 155);
    transition: .1s;
    transition-property: box-shadow;
}

/*----------------wwb------------------------*/
#lg-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lg-head h2 {
    text-align: center;
    flex-grow: 1;
}

.location-label {
    font-family: 'SimSun';

}

.location-label:hover {
    border: 2px solid red;
    border-radius: 5px;
}

#peaceful {
    margin-top: 5px;
    line-height: 25px;
    font-size: 15px;
    font-family: SimSun;
    text-align: left;
}

#location-graph-ip-text-1 {
    width: 30%;
    height: 600px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to top, #4caf50, #4caf50 10px, transparent 10px),
    linear-gradient(to right, #c1ef8c, #c1ef8c 10px, transparent 10px),
    linear-gradient(to bottom, #8bc34a, #8bc34a 10px, transparent 10px),
    linear-gradient(to left, #009688, #009688 10px, transparent 10px);
    background-origin: border-box;
}

/* 为 select 元素添加基本样式 */
#standpoint-area {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
}

/* 当鼠标悬停在 select 元素上时，改变背景和文字颜色 */
#standpoint-area:hover {
    background-color: #e8e8e8;
    color: #666;
}

/* 改变选项的样式 */
#standpoint-area option {
    padding: 10px;
}

/* 当鼠标悬停在选项上时，改变背景和文字颜色 */
#standpoint-area option:hover {
    background-color: #ddd;
    color: #000;
}
/*----------------zkl------------------------*/
.title{
    font-family: SimSun;
}

#data-detail{
 width: 100%;
    height: 150px;
    margin-top: 20px;
     border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#data-detail-text{
    padding-left: 110px;
}
#data-detail-text, #data-img-weibo {
    display: inline-block;
    vertical-align: top;
}
#data-detail-p{
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: SimSun;
}
#data-img-weibo{
    padding-left: 50px;
}